<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>DBCONFIG</param-name>
    <param-value>/WEB-INF/config.txt</param-value>
  </context-param>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.icar.servlet.LoginAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>userManager</servlet-name>
    <servlet-class>com.icar.servlet.userManager</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RemoveAction</servlet-name>
    <servlet-class>com.icar.servlet.RemoveAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowUsersAction</servlet-name>
    <servlet-class>com.icar.servlet.ShowUsersAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchAction</servlet-name>
    <servlet-class>com.icar.servlet.SearchAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchAction2</servlet-name>
    <servlet-class>com.icar.servlet.SearchAction2</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ModifyAction</servlet-name>
    <servlet-class>com.icar.servlet.ModifyAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userManager</servlet-name>
    <url-pattern>/userManager.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveAction</servlet-name>
    <url-pattern>/RemoveAction.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowUsersAction</servlet-name>
    <url-pattern>/ShowUsersAction.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchAction</servlet-name>
    <url-pattern>/search.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchAction2</servlet-name>
    <url-pattern>/SearchAction2.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyAction</servlet-name>
    <url-pattern>/Modify.action</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login2.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.icar.servlet.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
</web-app>